body {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
}

path {
  fill: transparent;
}

text {
  fill: crimson;
}

svg {
  border: 1px dotted slategray;
}

text {
  stroke: darkslategrey;
}

#large {
  font-size: 144px;
  width: 100%;
}

#outline {
  stroke: black;
  stroke-width: 4;
  fill: red;
}

.eye-shape, .iris, .pupil, .ray {
  stroke: black;
  stroke-width: 6;
}
